@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    /* COLORS */
    --dark-clr: hsl(262, 35%, 10%);
    --white-clr: hsl(0, 0%, 90%);
    --yellow-clr: hsl(60, 100%, 60%);
    --border-clr: hsla(0, 0%, 100%, .1);
    /* PADDING STYLE */
    --padding-value: min(3rem, 7%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--dark-clr);
    min-height: 100vh;
}

svg {
    width: 32px;
    height: 32px;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

header {
    display: flex;
    padding-inline: min(2rem, 5%);
    border-bottom: 1px solid var(--border-clr);
    min-height: 60px;
}

header .nav-logo {
    font-family: "Permanent Marker", sans-serif;
    font-size: clamp(1.5rem, -0.5rem + 5.3333vw, 2.5rem);
    font-weight: 600;
    color: var(--yellow-clr);
    display: flex;
    align-items: center;
}

header a {
    font-size: clamp(0.9375rem, 0.6875rem + 0.6667vw, 1.0625rem);
    font-weight: 500;
    color: var(--white-clr);
}

header button {
    display: none;
    border: none;
    outline: none;
    fill: var(--yellow-clr);
    background: none;
    cursor: pointer;
    margin-left: auto;
}

nav {
    margin-left: auto;
    background-color: var(--dark-clr);
}

nav ul {
    height: 100%;
    display: flex;
}

nav a {
    display: flex;
    align-items: center;
    padding-inline: 1.4rem;
    height: 100%;
    transition: color .3s ease;
}

nav a:hover {
    color: var(--yellow-clr);
}

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9;
    inset: 0;
    background-color: hsla(0, 0%, 0%, 0.25);
    display: none;
}

main section {
    min-height: 100vh;
    padding: var(--padding-value);
    border-top: 1px solid var(--border-clr);
}

main h1 {
    font-size: clamp(1.5rem, 0.5rem + 2.6667vw, 2rem);
    font-weight: 700;
    color: var(--yellow-clr);
}

main p {
    font-size: clamp(1rem, 0.875rem + 0.3333vw, 1.0625rem);
    max-width: 600px;
    color: var(--white-clr);
    line-height: 1.35rem;
}

#home {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#home h2 {
    font-size: clamp(2rem, 1rem + 2.6667vw, 2.5rem);
    font-weight: 800;
    color: var(--yellow-clr);
    margin: 1rem 0 2rem;
}

#home p {
    text-align: center;
}

#top-btn {
    position: fixed;
    bottom: 30px;
    right: 40px;
    border: none;
    outline: none;
    background-color: var(--white-clr);
    fill: var(--dark-clr);
    cursor: pointer;
    border-radius: 50%;
    padding: .5rem;
    transition: background-color 300ms ease;
    display: none;
}

#top-btn svg {
    width: 32px;
    height: 32px;
}

#top-btn:hover {
    background-color: var(--yellow-clr);
}

@media (max-width: 600px) {
    header button {
        display: flex;
    }

    #open-sidebar-btn {
        padding-block: 1rem;
    }

    #close-sidebar-btn {
        padding: 1rem 1.5rem;
    }

    nav {
        position: fixed;
        top: 0;
        right: -100%;
        z-index: 10;
        border-left: 1px solid var(--border-clr);
        width: min(300px, 100%);
        height: 100vh;
        align-items: flex-start;
        transition: right .5s ease;
    }

    .show-sidebar {
        right: 0;
    }

    .show-sidebar~#overlay {
        display: block;
    }

    nav ul {
        flex-direction: column;
        gap: 0;
        width: 100%;
    }

    nav a {
        display: flex;
        font-size: 1rem;
        padding: 1.5rem 2rem;
        transition: background-color 150ms ease;
    }

    nav a:hover {
        color: var(--white-clr);
        background-color: var(--border-clr);
    }
}