*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: hsl(210, 100%, 15%);
}

h1{
    font-size: clamp(1rem, 0.1867rem + 3.6145vw, 2.5rem);
    font-weight: 800;
    color: hsl(0, 0%, 100%);
}

#input-box{
    background-color: hsla(0, 0%, 100%, 0.25);
    margin: 1rem 0 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    max-width: 500px;
    border-radius: 50px;
}

#input-box input{
    flex: 1;
    font-size: clamp(1rem, 0.9322rem + 0.3012vw, 1.125rem);
    padding: .5rem 1rem;
    background: transparent;
    border: 2px solid transparent;
    border-radius: 25px 0 0 25px;
    outline: none;
    color: hsl(0, 0%, 100%);
    transition: border 300ms ease;
}

#input-box input:focus{
    border: 2px solid hsl(0, 0%, 100%);
}

#input-box input::placeholder{
    color: hsl(0, 0%, 100%);
}

#input-box button{
    font-size: clamp(1rem, 0.9322rem + 0.3012vw, 1.125rem);
    font-weight: 600;
    background-color: hsl(0, 0%, 100%);
    color: hsl(210, 100%, 15%);
    padding: .5rem 1.5rem;
    border: 2px solid hsl(0, 0%, 100%);
    outline: none;
    cursor: pointer;
    transition: background-color 300ms, border 300ms ease;
}

#input-box button:hover{
    background-color: hsl(0, 0%, 90%);
    border: 2px solid hsl(0, 0%, 90%);
}