@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

:root {
    --primary-color: hsl(200, 100%, 5%);
    --secondary-color: #ccdaff;
    --accent-color: #ffff33;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Nunito Sans", sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100dvh;
    min-height: 100vh;
    background-color: var(--primary-color);
    padding: min(3em, 7%);
}

.calculator {
    background-color: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(5px);
    max-width: 300px;
    overflow: hidden;
    border-radius: 10px;
}

#display {
    display: flex;
    border: 1.5px solid #33adff;
    outline: none;
    width: 100%;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    font-size: 2rem;
    border-radius: 10px 10px 0 0;
    padding: 10px 20px;
}

.keys {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 25px 15px;
    place-items: center;
}

.keys button {
    font-size: clamp(1.0625rem, 0.125rem + 3vw, 1.25rem);
    font-weight: 700;
    border: none;
    outline: none;
    background-color: var(--accent-color);
    color: var(--primary-color);
    border-radius: 50px;
    cursor: pointer;
    width: 50px;
    height: 50px;

    display: flex;
    align-items: center;
    justify-content: center;

    transition: background-color .3s ease;
}

.keys button:hover {
    background-color: hsl(60, 100%, 45%);
}

.keys button.operators {
    background-color: var(--secondary-color);
}

.keys button.operators:hover {
    background-color: hsl(224, 100%, 80%);
}