*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    display: none;
    max-width: 100%;
    height: auto;
}

body{
    min-height: 100vh;
    min-height: 100dvh;
    background-color: hsl(150, 100%, 15%);
    padding: min(2rem, 8%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper{
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    width: min(300px, 500px);
    box-shadow: -8px -8px 2px rgba(0, 0, 0, 0.25);
}

.wrapper .slides{
    width: 100%;
}

img.show{
    display: block;
}

.wrapper button{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
    font-size: 2rem;
    font-weight: 800;
    background-color: hsla(60, 100%, 50%, 0.8);
    border: none;
    outline: none;
    padding: .5rem 1rem;
    cursor: pointer;
    transition: background-color .3s ease;
}

.wrapper button:hover{
    background-color: hsla(60, 100%, 60%, 0.8);
}

#prevButton{
    border-radius: 0 5px 5px 0;
    left: 0;
}

#nextButton{
    border-radius: 5px 0 0 5px;
    right: 0;
}